@media only screen and (max-width: 1024px) {
    header{
        position: relative;
        padding: 0 15px;
        box-sizing: border-box;
        text-align: center;
    }
    .logo{
        max-width: 130px;
    }
    .btn{
        width: 100%;
        color: transparent;
        margin-left: 0;
        height: 50px;
        overflow: hidden;
    }
    header .container1 a {
        font-size: 30px;
    }
    header form{
        float: none;
        width: 100%;
    }
    header .container1 form input {
        text-align: center;
        padding-left: 0;
        font-size: 30px;
    }
    header .container1 form button {
        width: 0;
        font-size: 30px;
    }
    header nav ul li{
        display: block;
        float: none;
        text-align: center;
    }
    header nav ul li a {
        font-size: 40px;
    }
    .banner h1 {
        top: 84px;
    }
    .container1 {
        width: 100%;
    }
    .spisok li {
        display: inline-block;
    }
    .soc_icon {
        float: none;
        margin: 0 8px 0;
    }
    .facebook:before, .instagram:before, .twitter:before, .youtube:before {
        font-size: 60px;
    }
    .soc_icon:last-of-type {
        margin-left: 8px;
    }
        footer .text input {
        padding-left: 0;
        text-align: center;
        width: 100%;
        margin-right: -33px;
    }
        footer h2 {
            font-size: 30px;
        }
    footer .text input {
        font-size: 30px;
    }
    footer .text button {
        width: 100%;
    }
    footer .lists {
        position: relative
    }
    .lists .images_footer {
        padding-left: 0;
        position: absolute;
    }

    footer .lists ul {
        float:none;
        margin-bottom: 10px;
        display: inline-block;
        font-size: 25px;
    }
    footer .lists ul:nth-of-type(odd) {
        margin-left: 28%;
    }

}
@media only screen and (max-width: 768px) {
    footer .lists ul:nth-of-type(odd) {
        margin-left: 50%;
    }
}
@media only screen and (max-width: 414px) {
    body {
        max-width: 414px;
        overflow-x: hidden;

    }
    .banner h1 {
        top:34px;
    }
    .banner h1:after{
        margin-top: 14px;
    }
    footer .lists ul:first-of-type{
        margin-top: 130px;
    }

}
@media only screen and (max-width: 360px){
    .logo img{
       width:100%;
   }
    .banner h1:after{
        margin-top: 7px;
    }
}
@media only screen and (max-width: 320px){
    .banner h1:after{
        margin-top: 1px;
    }
    footer .text input {
        font-size: 25px;
    }
}